.productdesc-img{
    max-width: 20rem;
    max-height: 20rem;
}
.productdesc-container{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
.productdesc-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productdesc-title{
    color: #b19975;
    font-family: sans-serif;
    max-width: 20rem;
}
.productdesc-category{
    margin: 0;
    font-family: sans-serif;
}
.productdesc-rating{
    margin: 0;
}
.productdesc-price{
    font-size: 24px;
}
.productdesc-desc{
    width: 20rem;
    font-size: 0.8rem;
    color: gray;
}
.productdesc-quantity{
    margin-top: 1rem;
}
.bag-btn{
    margin-top: 2rem;
    background-color: #b19975;
    width: 10rem;
    height: 2rem;
}
.gotocart-btn{
    margin-top: 2rem;
    background-color: rgb(35, 199, 35);
    width: 10rem;
    height: 2rem;
    font-weight: 700;
}
#quantity{
    margin-right: 1rem;
}
form{
    margin-top: 1rem;
}
.change-btn{
    background: none;
    border: none;
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
}
