.cart-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 23rem;
    border: 2px solid rgb(172, 171, 171);
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.5rem;
}
.cartimg-div{
    display: flex;
    justify-content: center;
}
.cartproduct-img{
    width: 7rem;
    max-height: 7rem;
    margin-bottom: 0.5rem;
}
.cartproduct-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartproduct-title{
    color: #b19975;
    font-family: sans-serif;
    text-align: center;
    padding: 0 3rem;
    margin: 0;
    font-size: 0.7rem;
}
.cartproduct-title:hover{
    font-weight: 700;
}
.cartproduct-category{
    margin: 0;
    font-size: 0.8rem;
}
.cartproduct-price{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    margin-top: 0.3rem;
}
.cartbrand-name{
    text-decoration: none;
}
.rem-btn{
    background-color: #b19975;
    width: 8rem;
    height: 1.7rem;
}
.rem-input{
    width: 2rem;
}